.suple-card {
    max-width: 45vw;
    margin: 0 auto;
    background-color: white;
    width: 250px;
    padding: 5px;
    border-radius: 5px;
    p {
        margin: 0;
    }
    hr {
        margin: 2px;
    }
    a {
        text-decoration: none;
        color: black;
    }
    .suple-img-container {
        max-height: 25vh;
        background-color: white;
        width: 100%;
        display: flex;
        justify-content: center;
        align-content: center;
        img {
            max-width: 10rem;
        }
    }
    .suple-info {
        padding: 10px 5px;
        display: flex;
        align-content: space-between;
        .price {
            flex-grow: 1;
            text-align: center;
            flex-wrap: nowrap;
            color: lightgreen;
            font-weight: bolder;
            font-size: 1.2rem;
            .coin {
                font-size: 0.7rem;
            }
        }
        .suple-name {
            width: 60%;
            font-weight: bolder;
            font-size: 0.7rem;
            padding: 2px 4px;
        }
    }
    .suple-seller, .store-code, .last-update {
        font-weight: bolder;
        font-size: 0.8rem;
    }
    .store-logo {
        width: 40px;
    }
    .amz-prime-logo {
        width: 60px;
    }
    .super-shipping {
        width: 30px;
    }

}